<div class="container">
  <div class="hero">
    <div id="left">
      <div class="intro">
        <h1>Yousef Alsuliman</h1>
        <p>
          First-Class Honors Computer Science graduate and Angular Front-End
          Developer with a strong foundation in AI, Machine Learning, Data
          Analysis, and Web Development. Skilled in creating responsive,
          user-friendly interfaces and delivering innovative, efficient
          solutions using modern technologies. Passionate about continuous
          learning and driving meaningful, technology-driven impact.
        </p>
      </div>
    </div>
    <div id="right">
      <div class="photo"><img src="IMG_5242.JPG" alt="" /></div>
    </div>
  </div>
</div>
